{
  "plugins": [
    "prettier-plugin-organize-attributes",
    "plugin:prettier/recommended"
  ],
  "trailingComma": "all",
  "semi": true,
  "singleQuote": true,
  "attributeSort": "DESC",
  "attributeGroups": [
    "^v-for$",
    "^v-if$",
    "^:ref$",
    "^:key$",
    "^#",
    "^v-model$",
    "^id$",
    "^href$",
    "^src$",
    "^name$",
    "^alt$",
    "^width$",
    "^height$",
    "$DEFAULT",
    "^class$",
    "^:",
    "^@"
  ]
}
